<launch>
   	<node
	  pkg="nmea_navsat_driver"
	  type="nmea_serial_driver"
	  name="gps"
	>
	<param name="port" value="/dev/ttyUSB0"/>
	<param name="baud" value="9600"/>

	</node>
	
   	<node
	  pkg="nmea_navsat_driver"
	  type="nmea_serial_driver2"
	  name="gps2"
	>
	<param name="port" value="/dev/ttyUSB2"/>
	<param name="baud" value="9600"/>

	</node>

	<include
          file="$(find usb_cam)/launch/6cams-test.launch"/>
<!--
	<node
	  pkg="urg_node"
	  type="urg_node"
	  name="lidar">
	<param name="ip_address" value="192.168.0.10" />

	</node>
-->
	<node
	  pkg="um7"
	  type="um7_driver"
	  name="imu" >
	<param name="port" value="/dev/ttyUSB1" />
	</node>
	
	<node
	  pkg="rosserial_python"
	  type="serial_node.py"
	  name="serial"
	 >
	<param name="port" value="/dev/ttyACM0" />
	<param name="baud" value="57600" />
	</node>
<!--
	<node
	  pkg="rosbag"
	  type="record"
	  name="record_data"
	  args="-o ~/bagfiles/test -a"
	/>
-->
	<node
		pkg="tf2_ros" type="static_transform_publisher" name="baselink_to_gps_broadcaster"
		args="0 0 0 0 0 0 map imu_link"
	/>

</launch> 
