<?xml version="1.0"?>
<launch>

  <arg name="world" default="$(find vrx_gazebo)/worlds/example_course.world" />
  <arg name="gui" default="true" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name"   value="$(arg world)"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui"          value="$(arg gui)" />
  </include>



</launch>
