<launch>

  <node name="gps_serial_node"    pkg="rosserial_python"      type="serial_node.py"   output="screen"  args="tcp 11411">
    <param name="port"              type="string"               value="tcp"/>
    <param name="baud"              type="int"                  value="57600"/>
  </node>


  <node name="imu_serial_node"    pkg="rosserial_python"      type="serial_node.py"   output="screen"  args="tcp 11412">
    <param name="port"              type="string"               value="tcp"/>
    <param name="baud"              type="int"                  value="57600"/>
  </node>


  <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/usb_cam/image_raw"/>
    <param name="autosize" value="true" />
  </node>

</launch>
